* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
}

table,
input,
label {
	font-size: 1.2rem;
}

label {
	margin: 0 0.5rem;
}

table td,
table th {
	padding: 0.6rem 0.7rem;
	text-align: left;
}

table tr:nth-child(even) {
	background-color: #e2e2e2;
}

.App {
	margin: 2rem;
}

input[type='number'] {
	display: block;
	margin-bottom: 1rem;
	font-size: 1.2rem;
	padding: 0.4rem 0.5rem;
}
